VITE_CATALYST_QUICKML_ENDPOINT=YOUR_PUBLISHED_ENDPOINT_KEY
VITE_TWILIO_SID=YOUR_TWILIO_SID_HERE
VITE_TWILIO_AUTH=YOUR_TWILIO_AUTH_HERE
VITE_TWILIO_FROM=YOUR_TWILIO_NUMBER_HERE
VITE_TWILIO_TO=YOUR_VERIFIED_DESTINATION_NUMBER
